* {
    box-sizing: border-box;
}

body {
    background-color: rgb(248, 250, 230);
    font-size: 11px;
}

main {
    display: block;
    margin: auto;
    height: 1075px;
    width: 820px;
    border: 5px solid darkolivegreen;
    box-shadow: 6px 6px rgb(165, 165, 125), 10px 10px 4px lightgray;
}

.home {
    position: fixed;
    margin-top: 0px;
}

.home:hover {
    transform: scale(1.2);
}

h1 {
    text-align: center;
    font-family: 'Handlee', cursive;
    color: rgb(45, 59, 18);
    font-size: 65px;
    text-shadow: 2px 2px rgb(165, 165, 125);
    animation-name: color-change;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes color-change {
    from {color: rgb(45, 59, 18);}
    to {color: rgb(126, 194, 1)}
}

h3 {
    display: block;
    font-family: 'Alegreya', sans-serif;
    font-weight: 500;
    font-size: 22px;
    text-shadow: 2px 2px rgb(165, 165, 125);
    padding-top: 3%;
    padding-left: 3%;
}

div {
    display: inline-flex;
    align-items: center;
}

ul {
    list-style-type: none;
}

.first,
.second {
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    margin-left: 3%;
    list
}

.ing.serving {
    flex-direction: column;
    gap: 0.5rem;
    float: right;
}

.number,
.time {
    background-color: rgb(216, 240, 176);
    box-shadow: 2px 2px rgb(165, 165, 125);
    margin: 5%;
    align-items: center;
    padding: 5%;
    gap: 0.5rem;
}


.ins {
    display: block;
    background-color: rgb(230, 230, 181);
    font-family: Jost, sans-serif;
    margin-top: 2%;
    margin-right: 5%;
}

div ol {
    margin-left: 2%;
    margin-right: 2%;
    font-size: 16px;
    justify-content: left;
}
